h1 {
  margin-left: 10px;
}

.container {
  position: fixed;
  overflow:hidden;
  width: 800px;
}

.routes {
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}
.ymap {
  width: 400px;
  height: 400px;
  float: left;
}

.delete-btn {
  float: right;
  margin-right: 5%;
  margin-left: auto;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.list-item {
  border-radius: 5px;
  padding: 0px 5px 5px 5px;
}

.on-drop {
  background: #ccc;
}